
.footer {
    width: 1024px;
    border: 1px solid #E1090C;
    display: block;
    margin: 0 auto;
}

.footer li{
    list-style-type: none;
}

.footer div{
    float: left;

}

#footerLogo {
    width: 230px;
    height: 200px;
    margin: 5px;
    padding: 0px;
    border: 1px solid #5219FF;
}


#footerMenu1 {
    width: 220px;
    margin: 5px;
    padding: 0px;
    border: 1px solid #5219FF;
}

#footerMenu2 {
    width: 220px;
    margin: 5px;
    padding: 0px;
    border: 1px solid #5219FF;
}

#footerCopyright {
    width: 220px;
    margin: 5px;
    padding: 0px;
    border: 1px solid #5219FF;
}



