#footer {
    margin: 0;
    padding: 10px 0;
}
    #footer ul {
        list-style: none;
        padding: 0;
        margin-bottom: 20px;

    }
    .footer_logo {
        display: block;
        width: 90px;
        height: 80px;
        margin: auto;
        background: url("../images/logo.png") no-repeat;
    }

@media (max-width: 768px) {
    #footer ul, .footer_copy p {
        text-align: center;
    }
}



