#header {
    overflow: hidden;
    background: #fefcea; /* Для старых браузров */
    background: linear-gradient(to top, #eee, #fff);
}
    .logo {
        margin: 15px 0;
        min-height: 80px;
    }
        .main_page {
            float: left;
            min-width: 250px;
            min-height: 80px;
            cursor: pointer;
            background: url(../images/logo.png) center top no-repeat;
        }
    .links {
        float: right;
        margin: 15px 0;
        min-height: 80px;
    }
        .links a {
            display: block;
        }
@media screen and  (min-width: 767px) {
    .container-fluid {
        overflow: hidden;
    }
        .center {
            float: left;
            position: relative;
            left: 50%;
        }
            .center-ul {
                position: relative;
                right: 50%;
            }
                .nav li {
                    width: 150px;
                    margin: 0 5px;
                    text-align: center;
                }
                    .nav li a:hover {
                        background-color: #ccc !important;
                    }
}







