.content {
    width: 1024px;
    margin: auto;
    padding: 0;

}
    .mini {
        float: left;
        width: 300px;
        height: 300px;
        margin: 20px;
        outline: 1px solid red;
    }
.carousel-indicators li {
	box-shadow: 0px 0px 5px #000;
}