
.rating {
	position: relative;
}

.star {
	content: " ";
	display: inline-block;
	height: 30px;
	width: 30px;
	background: #fff url("../images/star.png") no-repeat 0 0;
	background-size: cover;
	transition: all 0.3s;
	margin-left: -1px;
	margin-right: -2px;
}

.star.active,
.star.hover {
	background-position: 0 -31px;
	background-size: cover;
}